body * {
    font-size: 30px;
    
}
h1, header{
    text-align: center;
    margin-bottom: 2px;;
}
.user-todos-button{
    background: #1894e72c;
    border: 2px solid black;
    margin: 3px;
    border-radius: 10px;
    transition: 0.2s linear;
}
.user-todos-button:hover{
    border: 2px solid blue;
    color: white;
    margin: 2px;
}

#todo-creation{
    width: 69%;
}

#create-todo-button, #clear-curent-user, #clear-search-input{
    background: #f0b10427;
    transition: .3s linear;
}
#create-todo-button:hover,
#clear-search-input:hover{
    background: green;
    color: white;
}
#clear-curent-user:hover{
    background: green;
    color: white;
}

.todo {
    width: 95%;
    border: 1px solid gray;
    background: lightgray;
    margin: 5px 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    color: green;
    transition: 0.3s all;
}

#btn-up {
    width: 70px;
    height: 70px;
    
    position: absolute;
    top: 30%;
    left: 96%;
    position: fixed;
}
#arrow-up {
    width: 70px;
    height: 70px;
}

.done {
    opacity: 0.5;
    text-decoration: line-through;
    color: red
}

.delete-todo:hover{
    background: red;
    color: white;
}

.active-user-button{
    background: blue;
    color: white;
}

#todo-search{
    margin: 5px 0;
    width: 76%;
}
